.button {
    -fx-font-weight: bold;
}
#green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#green:hover {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #b8ee36 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.bigg{
    -fx-font-size: 15px;
}

.toggle-button {
  -fx-graphic: "images/home.png";
  -fx-background-color:#ffffff;
  -fx-border-color: #ffffff;
  -fx-background-radius: 50%, 50%;
  -fx-border-radius: 50%, 50%;
}

.toggle-button:hover {
  -fx-graphic: "images/home.png";
  -fx-background-color:#ffffff;
  -fx-border-color: #395306;
  -fx-background-radius: 50%, 50%;
  -fx-border-radius: 50%, 50%;
}
