.button {
    -fx-font-weight: bold;
}
#green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#green:hover {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #b8ee36 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.bigg{
    -fx-font-size: 15px;
}

.toggle-button {
  -fx-graphic: "images/home.png";
  -fx-background-color:#ffffff;
  -fx-border-color: #ffffff;
  -fx-background-radius: 50%, 50%;
  -fx-border-radius: 50%, 50%;
}

.toggle-button:hover {
  -fx-graphic: "images/home.png";
  -fx-background-color:#ffffff;
  -fx-border-color: #395306;
  -fx-background-radius: 50%, 50%;
  -fx-border-radius: 50%, 50%;
}

.tree-cell:selected{
    -fx-background-color:#ccffcc
}

.no-change{
    -fx-text-fill:#000000;
}

.bg-blocked{
    -fx-text-fill:#999999;
}

.bg-unlocked{
    -fx-text-fill:#ff0000;
}

.bg-ongoing{
    -fx-text-fill:#ff9900;
}

.bg-done{
    -fx-text-fill:#66cc00;
}

.course-label{
    -fx-font-size: 32px;
    -fx-alignement:center;
   -fx-font-family: "Helvetica"
}

.course-content{
    -fx-font-size: 15px;
    -fx-font-family: "Helvetica"
}


.dark-blue-th {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #4b607a 100%),
        linear-gradient(#365066, #2b3a4c),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue:hover {
    -fx-background-color: 
        #999999,
        linear-gradient(#333333 0%, #000000 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.bevel-grey {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.bevel-grey:hover {
    -fx-background-color: 
        linear-gradient(#999999, #d4d4d4),
        linear-gradient(#f8f8f8 0%, #d6d6d6 20%, #d4d4d4 100%),
        linear-gradient(#dddddd 0%, #f2f2f2 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.exercice-grid-elem{
    -fx-background-color: #90dd13;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-margin:10;
    -fx-padding:10;
    -fx-alignement:center;
   -fx-font-family: "Helvetica"
}
.exercice-grid-elem:hover{
    -fx-background-color: #90d026
}

.green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.top-name-label{
    -fx-font-size: 18px;
    -fx-font-family: "Helvetica";
    -fx-alignement:center;
}

.plus-button {
  -fx-graphic: "images/plus.png";
  -fx-background-color:#ffffff;
  -fx-border-color: #ffffff;
  -fx-background-radius: 50%, 50%;
  -fx-border-radius: 50%, 50%;
}

.plus-button:hover {
    -fx-border-color: #395306;
}

.bold{
    -fx-font-weight: bold;
}

.italic{
    -fx-font-style: italic;
}

.underline{
    -fx-underline : true;
}

.header1{
    -fx-font-size: 33px;
}
.header2{
    -fx-font-size: 30px;
}
.header3{
    -fx-font-size: 27px;
}
.header4{
    -fx-font-size: 24px;
}
.header5{
    -fx-font-size: 21px;
}
.header6{
    -fx-font-size: 18px;
}

.errPane{
    -fx-background-color:#000000;
    -fx-text-fill:#ff0000;
    -fx-padding:10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.stdPane{
    -fx-background-color:#000000;
    -fx-text-fill:#fcfcfc;
    -fx-padding:10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.exercice-content{
    -fx-font-size: 12px;
    -fx-font-family: "Helvetica";
    -fx-padding:5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.older-user{
    
}

.warning{
    -fx-background-color:#dd8f02;
    -fx-padding:10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.ok{
    -fx-background-color:#90d026;
    -fx-padding:10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.pcback{
    -fx-background-image: url("../images/pc.png");
    -fx-background-repeat: stretch;  
    -fx-background-size: 570 408;
    -fx-padding:15 20 78 17;
    -fx-background-position: top center;
}

.pcback2{
    -fx-background-color:grey;
}

.run{
  -fx-graphic: "images/run.png";
  -fx-background-color:#ffffff;
  -fx-border-color: #ffffff;
  -fx-padding:0 0 38 4;
}

.run:hover{
   -fx-graphic: "images/run2.png";
}